<h2>{{title}}</h2>

<table class="table">
  <thead>
    <tr>
      <th>Lesson</th>
      <th>Publication</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
    <tr>
      <td>{{#link-to 'lesson' id}}{{title}}{{/link-to}}</td>
      <td>{{#link-to 'publication' publication.id}}{{publication.title}}{{/link-to}}</td>
      <td>{{year}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>