<h2>Publications</h2>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Number of Lessons</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
    <tr>
      <td>{{#link-to 'publication' id}}{{title}}{{/link-to}}</td>
      <td>{{lessons}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>