<table class="table" id="publications-list">
  <thead>
    <tr>
      <th>Publication</th>
      <th>Number of Lessons</th>
    </tr>
  </thead>
  <tbody>
    {{#each publications}}
    <tr>
      <td>{{key}}</td>
      <td>{{value}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>