<div id="wrap">
  <div class="container">
    
    <section class="page-header">
      <h1 class="title">Council for Economic Education</h1>
      <p class="lead">Program Portfolio</p>
    </section><!-- /.page-header -->
    
    <div class="content">
      {{outlet}}
      {{outlet "loading"}}
    </div>

    <footer class="row">
      <div class="col-md-12 well">
        <a href="/cee-portfolio-guide.pdf" class="btn btn-default">Portfolio Guide</a>
      </div>
    </footer>
  </div><!-- /.container -->
</div><!-- /#wrap -->
