<div id="wrap">
  <div class="container">
    
    <section class="page-header">
      <h1 class="title">Council for Economic Education</h1>
      <p class="lead">Program Portfolio</p>
    </section><!-- /.page-header -->
    
    <div class="content">
      {{outlet}}
    </div>
    
  </div><!-- /.container -->
</div><!-- /#wrap -->