<div class="row">
  <div class="col-md-2">
    <div class="pages btn-group btn-group-xs">
      <button class="previous btn btn-default" {{action 'previousPage'}}>&larr; Previous</button>
      <button class="next btn btn-default" {{action 'nextPage'}}>Next &rarr;</button>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-7">
    <div class="input-group">
      <span class="input-group-addon">Lessons Per Page</span>
      {{input type="number" value=lessonsAtATime class="form-control input-sm"}}
    </div>
  </div>
</div>
