<div class="row">
  <div class="col-md-6">
    <h3>Economics</h3>
    <div class="list-group">
      {{#link-to 'lessonSubject.index' 'economics' class="list-group-item"}}All Resources{{/link-to}}
      {{#link-to 'lessonSubjectFormat.index' 'economics' 'print' class="list-group-item"}}Lessons in Print{{/link-to}}
      {{#link-to 'lessonSubjectFormat.index' 'economics' 'online' class="list-group-item"}}Lessons on EconEdlink{{/link-to}}
      {{#link-to 'lessonSubjectFormat.index' 'economics' 'interactive' class="list-group-item"}}Interactive Activities{{/link-to}}
    </div>
  </div>
  <div class="col-md-6">
    <h3>Personal Finance</h3>
    <div class="list-group">
      {{#link-to 'lessonSubject.index' 'personal-finance' class="list-group-item"}}All Resources{{/link-to}}
      {{#link-to 'lessonSubjectFormat.index' 'personal-finance' 'print' class="list-group-item"}}Lessons in Print{{/link-to}}
      {{#link-to 'lessonSubjectFormat.index' 'personal-finance' 'online' class="list-group-item"}}Lessons on EconEdlink{{/link-to}}
      {{#link-to 'lessonSubjectFormat.index' 'personal-finance' 'interactive' class="list-group-item"}}Interactive Activities{{/link-to}}
    </div>
  </div>
</div>