<h4>Concepts</h4>

{{#if concepts}} <ul class="list-inline">{{/if}}
{{#each concepts}}
   <li>{{this}}</li>
{{else}}
  <p>There are no concepts listed for this lesson</p>
{{/each}}
{{#if concepts}}</ul>{{/if}}