<h4>{{title}}</h4>

{{#if standards}} <ul class="list-inline">{{/if}}
{{#each standards}}
   <li>{{standardName ../subject this}}</li>
{{else}}
  <p>There are no standards for this lesson or publication.</p>
{{/each}}
{{#if standards}}</ul>{{/if}}