<h3>{{uncamelizeAndCapitalize type}} Standards</h3>
{{#if items}}
<ul class="list-inline">
  {{#each standard in items}}
    <li>{{#link-to route standard}}{{standard}}{{/link-to}}</li>
  {{/each}}
</ul>
{{else}}
  <p>There are no {{uncamelizeAndLowerCase type}} standards covered in this publication.</p>
{{/if}}